{{template "base2" .}} {{define "content2"}}
<table role="presentation" class="main">
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p>Hi {{ .FirstName}},</p>
            <p>
              We have received your request to reset your password for your account. To proceed with the password reset, please send a PATCH request to with your new password and confirm password to {{.URL}}. 
              Please note that this link is valid for 15 minutes for security purposes. If you do not reset your password within this time frame, you will need to initiate the password reset process again.
            </p>
            <table
              role="presentation"
              border="0"
              cellpadding="0"
              cellspacing="0"
              class="btn btn-primary"
            >
              <tbody>
                <tr>
                  <td align="left">
                    <table
                      role="presentation"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                    >
                      <tbody>
                        <tr>
                          <td>
                            <a href="{{.URL}}" target="_blank"
                              >Reset Password</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              If you did not request a password reset, please ignore this email. Rest assured that your account is still secure.
              If you require any further assistance or have any questions, please feel free to reach out to our support team at bigboydevelops@gmail.com.
            </p>
            <p>Good luck! LoyaltyPoints CEO.</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <!-- END MAIN CONTENT AREA -->
</table>
{{end}}
